In [1]:
#Types of Variables
#Integer
#Float 
#String
#Boolean

In [2]:
Quantity = 5

In [3]:
type(Quantity)

int

In [4]:
sales = 65.5

In [5]:
type(sales)

float

In [6]:
customer_name = "John"

In [7]:
type(customer_name)

str

In [8]:
customer_name

'John'

In [9]:
is_sales_50 = sales>50

In [10]:
type(is_sales_50)

bool

In [11]:
Order_id = 'EU-2019-1234'

In [12]:
type(Order_id)

str

In [13]:
sales

65.5

In [14]:
expenses = 20

In [16]:
sales-expenses

45.5

In [17]:
customer_name + Order_id # + work as concatination

'JohnEU-2019-1234'

In [18]:
customer_name + ","  + " " + "your order id is" + ":" + " "+ Order_id

'John, your order id is: EU-2019-1234'

In [ ]:
#Python Collection DataTypes
#Lists
#Tuples
#Dictionaries
#Sets

In [19]:
myfirstlist = [23,24,25,23,24,23,21,22,26,27,30,35,46,50]

In [20]:
type(myfirstlist)

list

In [21]:
myfirstlist[4]

24

In [22]:
myfirstlist[4:]

[24, 23, 21, 22, 26, 27, 30, 35, 46, 50]

In [23]:
myfirstlist[4:9]

[24, 23, 21, 22, 26]

In [24]:
myfirstlist[-1]

50

In [25]:
myfirstlist[:6]

[23, 24, 25, 23, 24, 23]

In [ ]:
myfirstlist = [23,24,25,23,24,23,21,22,26,27,30,35,46,50]

In [26]:
myfirstlist[-1:-7:-1] #last -1 is for direction

[50, 46, 35, 30, 27, 26]

In [27]:
myfirstlist[-7:-1]

[22, 26, 27, 30, 35, 46]

In [28]:
myfirstlist[-7:-1:2] #2 is for considering only 2nd Nos (alternative Nos)

[22, 27, 35]

In [29]:
myfirstlist[-7:-1:-1]

[]

In [30]:
myfirstlist[-1:-7:-2]

[50, 35, 27]

In [31]:
print(myfirstlist)

[23, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50]

In [32]:
myfirstlist

[23, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50]

In [33]:
languages = [['English','Hindi'], ['Gujrati'], 'English','Spanish', 'Romanian']

In [34]:
type(languages)

list

In [35]:
type(languages[0][1])

str

In [36]:
type(languages[1][0])

str

In [37]:
type(languages[4])

str

In [38]:
mylist1 = ['A','B','C',1,2,3,4,'True',7.7]

In [39]:
type(mylist1[0])

str

In [40]:
type(mylist1[3])

int

In [41]:
type(mylist1[7])

str

In [42]:
type(mylist1[8])

float

In [43]:
languages1 =[('English','Hindi'), 'English']

In [44]:
type(languages1[0])

tuple

In [45]:
myfirstlist[0]=35

In [46]:
myfirstlist

[35, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50]

In [47]:
del languages1 #del used to delete

In [48]:
languages1

NameError: name 'languages1' is not defined

In [49]:
a = [[[1,2], [3,4],5],[6,7]]

In [50]:
a[0][1][1]

4

In [51]:
a,b = [3,1,2],[4,5,6]

In [52]:
a

[3, 1, 2]

In [53]:
b

[4, 5, 6]

In [54]:
a+b

[3, 1, 2, 4, 5, 6]

In [55]:
a*b #lists can be muliiplied

TypeError: can't multiply sequence by non-int of type 'list'

In [56]:
a*3

[3, 1, 2, 3, 1, 2, 3, 1, 2]

In [57]:
a-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [58]:
import os
os.getcwd() # to get location of file

'E:\\Edureka Python\\Live Classes - Aug 17\\Class 2 - 18-Aug'

In [59]:
myfirstlist.append(100) # .append to add a new variable to a list at the end

In [60]:
myfirstlist

[35, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50, 100]

In [61]:
myfirstlist.insert(6,150) # .insert to add a new variable to a list at particular index (position)

In [62]:
myfirstlist

[35, 24, 25, 23, 24, 23, 150, 21, 22, 26, 27, 30, 35, 46, 50, 100]

In [63]:
del myfirstlist[6] # del used to delete a variable from a list's particular index (position)

In [64]:
myfirstlist

[35, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50, 100]

In [65]:
mysecondlist = myfirstlist.copy() # .copy used create copy of existing list with a new NAME.

In [66]:
mysecondlist

[35, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50, 100]

In [67]:
myfirstlist.remove(100) # .remove used to delete/remove a variable from a list (will remove multiple variable)

In [68]:
myfirstlist

[35, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50]

In [69]:
mylist=myfirstlist[-1:-3:-1]

In [70]:
myfirstlist.pop(5) # .pop used to delete/remove/popout a variable from a list's particular index (position)

23

In [71]:
myfirstlist.pop()

50

In [72]:
myfirstlist

[35, 24, 25, 23, 24, 21, 22, 26, 27, 30, 35, 46]

In [73]:
help(myfirstlist.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.list instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [75]:
myfirstlist.sort()
myfirstlist

[21, 22, 23, 24, 24, 25, 26, 27, 30, 35, 35, 46]

In [76]:
myfirstlist.reverse()

In [77]:
myfirstlist

[46, 35, 35, 30, 27, 26, 25, 24, 24, 23, 22, 21]

In [78]:
max(myfirstlist)

46

In [79]:
min(myfirstlist)

21

In [80]:
sum(myfirstlist)

338

In [83]:
mylist.clear() #clear the list / make the empty list
mylist

[]

In [84]:
del mylist

In [85]:
del mylist1

In [86]:
myfirstlist

[46, 35, 35, 30, 27, 26, 25, 24, 24, 23, 22, 21]

In [87]:
del mysecondlist

In [ ]:
#Tuples a type of list which uses () and not editable

In [88]:
myfirsttuple = (23,24,23,21,22,23,26,27,25,28,29,30,35)

In [89]:
type(myfirsttuple)

tuple

In [90]:
myfirsttuple[0]=35

TypeError: 'tuple' object does not support item assignment

In [91]:
myfirsttuple.count(23) #counts 23 in a tupple

3

In [92]:
myfirsttuple.index(23) #output the index value of variable (first variable if there are multiple same variable)

0

In [93]:
tuple(myfirstlist) #covert the list to tupple

(46, 35, 35, 30, 27, 26, 25, 24, 24, 23, 22, 21)

In [95]:
list(myfirsttuple) #covert the tupple to list

[23, 24, 23, 21, 22, 23, 26, 27, 25, 28, 29, 30, 35]

In [94]:
len(myfirstlist) #len counts Nos of elements

12

In [96]:
len(myfirsttuple)

13

In [97]:
myfirsttuple[2:5]

(23, 21, 22)

In [98]:
myfirsttuple[-1:-5:-1]

(35, 30, 29, 28)

In [101]:
mytuple1 = (1,2,3,[4,5,6])

In [102]:
mytuple1[3][0]=10
mytuple1

(1, 2, 3, [10, 5, 6])

In [103]:
mytuple1[3].append(50)
mytuple1

(1, 2, 3, [10, 5, 6, 50])

In [104]:
mytuple1

(1, 2, 3, [10, 5, 6, 50])

In [ ]:
#Dictionaries

In [105]:
myfirstdict = {'Customer Name': 'Rahul', 'Order Id': 'IN-2019-1234', 'Region':'North India', 'sales':65.5}

In [106]:
myfirstdict['Order Id']

'IN-2019-1234'

In [107]:
myfirstdict['Segment']='Python'

In [108]:
myfirstdict

{'Customer Name': 'Rahul',
 'Order Id': 'IN-2019-1234',
 'Region': 'North India',
 'sales': 65.5,
 'Segment': 'Python'}

In [109]:
myfirstdict['Region']='South India' #Change North India to South India

In [110]:
len(myfirstdict)

5

In [111]:
myfirstdict['OID'] = myfirstdict.pop('Order Id') #change Order Id to OID

In [112]:
myfirstdict

{'Customer Name': 'Rahul',
 'Region': 'South India',
 'sales': 65.5,
 'Segment': 'Python',
 'OID': 'IN-2019-1234'}

In [113]:
my_stud = {'student_id':[1,2,3,4,5], 
          'Stud_name':['A','B','C','D','E'],
          'Subject':['Python','Tableau','R','PowerBI','Python']}
# Dictionary with multiple Items

In [114]:
my_stud

{'student_id': [1, 2, 3, 4, 5],
 'Stud_name': ['A', 'B', 'C', 'D', 'E'],
 'Subject': ['Python', 'Tableau', 'R', 'PowerBI', 'Python']}

In [115]:
import pandas as pd

In [116]:
pd.DataFrame(my_stud) #Convert Dictionary into Dataframe

   student_id Stud_name  Subject
0           1         A   Python
1           2         B  Tableau
2           3         C        R
3           4         D  PowerBI
4           5         E   Python

In [117]:
dict(([1,2],[1,4],[4,5])) #only last key will be considered (key cant be repeated). in this 1,2 is ignored

{1: 4, 4: 5}

In [118]:
myfirstdict

{'Customer Name': 'Rahul',
 'Region': 'South India',
 'sales': 65.5,
 'Segment': 'Python',
 'OID': 'IN-2019-1234'}

In [119]:
myfirstdict.keys()

dict_keys(['Customer Name', 'Region', 'sales', 'Segment', 'OID'])

In [120]:
myfirstdict.values()

dict_values(['Rahul', 'South India', 65.5, 'Python', 'IN-2019-1234'])

In [121]:
myfirstdict.popitem() #removes last key:value in Dic.

('OID', 'IN-2019-1234')

In [122]:
myfirstdict

{'Customer Name': 'Rahul',
 'Region': 'South India',
 'sales': 65.5,
 'Segment': 'Python'}

In [123]:
myfirstdict

{'Customer Name': 'Rahul',
 'Region': 'South India',
 'sales': 65.5,
 'Segment': 'Python'}

In [124]:
mynewdict = myfirstdict.fromkeys({'Customer Name','Order Id','Region'},'NA')
#creates multiple key (are in sets) with any value Eg, 0, NA

In [125]:
mynewdict['Customer Name']='Rahul'

In [126]:
mynewdict

{'Customer Name': 'Rahul', 'Order Id': 'NA', 'Region': 'NA'}

In [127]:
dict1 = {1:1,2:5}
dict2 = {4:2,3:3}

In [128]:
dict1.update(dict2) #add dict2 to dict1

In [129]:
dict1

{1: 1, 2: 5, 4: 2, 3: 3}

In [ ]:
#Sets

In [133]:
myfirstset = {1,2,2,3,3,3,4,5,5,5,6,7,7,7,7,7,7,8,8,8,8,9,9}

In [134]:
myfirstset.add(30)
myfirstset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 30}

In [136]:
myfirstset.update([31,31,32,32,33,33,33,33,33,45]) #addes a list to set
myfirstset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 30, 31, 32, 33, 45}

In [137]:
myfirstset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 30, 31, 32, 33, 45}

In [140]:
myfirstset.remove(7)

KeyError: 7

In [143]:
myfirstset.discard(8) #.discard do not show error if the variable in not there in set

In [144]:
myfirstset

{1, 2, 3, 4, 5, 6, 9, 30, 31, 32, 33, 45}

In [145]:
mytuple = [-1,2,3,4,5,6,6,7,8,8,'A','A']

In [146]:
myset = set(mytuple) #creating a set from tupple

In [147]:
myset

{-1, 2, 3, 4, 5, 6, 7, 8, 'A'}

In [152]:
myfirstset.pop()

2

In [149]:
myfirstset

{1, 2, 3, 4, 5, 6, 9, 30, 31, 33, 45}

In [153]:
myfirstset

{3, 4, 5, 6, 9, 30, 31, 33, 45}

In [154]:
len(myfirstset)

9

In [155]:
myfirstset.clear()

In [156]:
myfirstset

set()

In [157]:
myset = {1,2,3,4,5}

In [158]:
myset1 = {3,4,5,6,7}

In [159]:
myset.union(myset1) #combines both sets keeps only unique values

{1, 2, 3, 4, 5, 6, 7}

In [160]:
myset.intersection(myset1) #creates a sets with only common values

{3, 4, 5}

In [ ]:
#Conditional statements in Python

In [ ]:
#for, while, if else

In [161]:
customers = ['John', 'James', 'Mathew', 'Anderson']
order_id = [1,2,3,4]

In [163]:
for (c,o) in zip(customers,order_id):
    print(c,o)

John 1
James 2
Mathew 3
Anderson 4

In [162]:
for (c,o) in zip(customers,order_id):
    print(c,', your order id is:', o)

John , your order id is: 1
James , your order id is: 2
Mathew , your order id is: 3
Anderson , your order id is: 4

In Traditional programming
for condition {
    statement 1
    statement 2
    statement 3
}
statement 4

In Python programming
for codition:
    statement 1
    statement 2
    statement 3
statement 4

In [164]:
for (a,b) in zip(customers,order_id):
    print(a,', your order id is:', b)

John , your order id is: 1
James , your order id is: 2
Mathew , your order id is: 3
Anderson , your order id is: 4

In [165]:
list(range(0,10)) #create list with range 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [168]:
for i in range(0,10):
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [170]:
for i in range(0,10):
    print('Hello',i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

In [169]:
for i in list(range(0,10)).reverse():
    print('Hello', i)

TypeError: 'NoneType' object is not iterable

In [171]:
list(range(5,15,2))

[5, 7, 9, 11, 13]

In [172]:
customers

['John', 'James', 'Mathew', 'Anderson']

In [173]:
for i in customers:
    print(i)

John
James
Mathew
Anderson

Traditional Programming
while condition {
    statement1
    statement2
    statement3
}
statement4

Python Programming
while condition:
    statement1
    statement2
    statement3
statement4

In [174]:
coupouns = 5
utilized = 0
while utilized>6:
    print(utilized)

In [177]:
coupouns = 5
utilized = 0
while utilized<6:
    print(utilized)
    utilized=utilized+1
print("End")

0
1
2
3
4
5
End

In [178]:
coupouns = 5
utilized = 0
while utilized<6:
    print('Total coupouns left are:' + str(coupouns-utilized))
    utilized=utilized+1
print('No coupouns left')

Total coupouns left are:5
Total coupouns left are:4
Total coupouns left are:3
Total coupouns left are:2
Total coupouns left are:1
Total coupouns left are:0
No coupouns left

In [179]:
coupouns = 5
utilized = 0
while utilized<6:
    print('Total coupouns left are:' ,coupouns-utilized)
    utilized=utilized+1
print('No coupouns left')

Total coupouns left are: 5
Total coupouns left are: 4
Total coupouns left are: 3
Total coupouns left are: 2
Total coupouns left are: 1
Total coupouns left are: 0
No coupouns left

In [180]:
sales = [23454,22345,33435,33344]
profit = [2345,5556,6778,7777]

In [ ]:
First create empty list

Fill/append list
print(list)

In [182]:
profitratio = []
for i in range(0,len(sales)):
    profitratio.append(profit[i]/sales[i])
print(profitratio)

[0.09998294533981411, 0.24864622958156188, 0.20272169881860325, 0.23323536468330133]

In [183]:
expenditure = []
for i in range(0,len(sales)):
    expenditure.append(sales[i]-profit[i])
print(expenditure)

[21109, 16789, 26657, 25567]

In [ ]:
#If and Else

In [184]:
marks = 65

In [185]:
if marks<40:
    print('Failed')
elif marks>=40 and marks<=70:
    print('Average')
else:
    print('Passed')

Average

if condition:
    print(statement1)
elif condition2
    print(statement2)
elif condition3
    print(statement3)
else:
    print(statement4)